
<div class="promotion">
    <div class="bg-shape-1">
        <img src="assets/img/bg-shape/bg-shape-1.png" alt="">
    </div>
    <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h3 class="sub-title">promotions</h3>
                    <h2 class="title">Get exclusive online promotions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="single-promotion style-1">
                    <div class="part-text">
                        <h3 class="title">Purchase $2 or draw game* on a single ticket to Hit 50!</h3>
                        <a href="blog-details.html" class="btn-pok btn-pok-sm">Claim the bonus <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="part-img">
                        <img src="assets/img/promotion/img-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="single-promotion style-2">
                    <div class="part-text">
                        <h3 class="title">More chances to multiply your prizes!</h3>
                        <a href="blog-details.html" class="btn-pok-2 btn-pok-sm-2">Play illionois <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="part-img">
                        <img src="assets/img/promotion/img-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-promotion style-3">
                    <div class="part-text">
                        <h3 class="title">Daily Rewards For Every Pick3 user</h3>
                        <a href="blog-details.html" class="btn-pok btn-pok-sm">Play Pick3 <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="part-img">
                        <img src="assets/img/promotion/img-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="single-promotion style-4">
                    <div class="part-text">
                        <h3 class="title">Triple Cashword for Euro Millions</h3>
                        <a href="blog-details.html" class="btn-pok btn-pok-sm">claim it now <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="part-img">
                        <img src="assets/img/promotion/img-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-promotion style-5">
                    <div class="part-img">
                        <img src="assets/img/promotion/img-5.png" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Welcome to the Brain UK Weekly Lottery</h3>
                        <a href="blog-details.html" class="btn-pok-2 btn-pok-sm-2">Join today <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-promotion style-6">
                    <div class="part-img">
                        <img src="assets/img/promotion/img-6.png" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">More chances to multiply your prizes!</h3>
                        <a href="blog-details.html" class="btn-pok btn-pok-sm">Play Lotto <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-promotion style-7">
                    <div class="part-img">
                        <img src="assets/img/promotion/img-7.png" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Play online bingo with Suite 75, C2C</h3>
                        <a href="blog-details.html" class="btn-pok btn-pok-sm">claim it now <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>