
<!-- footer begin -->
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                    <div class="part-about">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="../../../assets/img/sl_darkBG.png" alt="LOGO" style="width: 200px; height: 40px;">
                            </a>
                        </div>
                        <p>Lottery players can play French Lottery games online from anywhere in France on a phone,
                            tablet or computer. </p>
                        <ul class="importants-links">
                            <li class="single-link">
                                <a href="#0">policy</a>
                            </li>
                            <li class="single-link">
                                <a href="#0">Terms</a>
                            </li>
                            <li class="single-link">
                                <a href="#0">license</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <p class="copyright-text">©Copyright 2023 SmartesLotto. Tous droits réservés.</p>
                <ul class="social-link">
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-brands fa-google"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="index.html" class="single-menu">homepage</a>
                        </li>
                        <li>
                            <a href="about.html" class="single-menu">About Us</a>
                        </li>
                        <li>
                            <a href="lotteries.html" class="single-menu">Lotteries</a>
                        </li>
                        <li>
                            <a href="blog-posts.html" class="single-menu">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html" class="single-menu">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer end -->
<div class="back-to-top-btn">
    <a href="#">
        <i class="fa-solid fad"></i>
    </a>
</div>