<div class="front">
<!-- header begin -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                        <div class="logo">
                            <a>
                                <img src="../../../assets/img/sl_darkBG.png" alt="LOGO" style="width: 200px; height: 40px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 d-xl-none d-lg-none d-flex justify-content-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <app-navigation></app-navigation>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-none align-items-center justify-content-end">
                <app-connexion></app-connexion>
            </div>
        </div>
    </div>
</div>
<!-- header end -->

<!-- breadcrumb begin  -->
<div class="breadcrumb-pok" style="padding-top: 150px">
    <img class="br-shape-left" src="assets/img/breadcrumb/left-bg.png" alt="">
    <img class="br-shape-right" src="assets/img/breadcrumb/right-bg.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="breadcrumb-content">
                    <span class="subtitle">frequently asked questions</span>
                    <h2 class="title">Get Quick Answer to Your Questions</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end  -->

<!-- faq begin -->
<div class="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10">
                <div class="search-bar-element">
                    <form>
                        <input type="text" placeholder="Ask a question...">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-menu">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10">
                    <ul class="nav nav-pills row" id="pills-tab" role="tablist">
                        <li class="nav-item col-xl-4 col-lg-4 col-md-4" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                                <span class="faq-menu-img-icon">
                                    <img src="assets/img/faq/img-1.png" alt="">
                                </span>
                                <span class="faq-menu-title">Getting started</span>
                            </button>
                        </li>
                        <li class="nav-item col-xl-4 col-lg-4 col-md-4" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                                <span class="faq-menu-img-icon">
                                    <img src="assets/img/faq/img-2.png" alt="">
                                </span>
                                <span class="faq-menu-title">Ques. & Answers</span>
                            </button>
                        </li>
                        <li class="nav-item col-xl-4 col-lg-4 col-md-4" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">
                                <span class="faq-menu-img-icon">
                                    <img src="assets/img/faq/img-3.png" alt="">
                                </span>
                                <span class="faq-menu-title">Support & Sales</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="faq-content">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="row custom-gutter">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What is SmartestLotto?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i invest?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i deposit in?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How to withdraw money?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">Can i cancel my deposit?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What’s the exact ROI?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-12">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What payment method does SmartestLotto support?</h3>
                                        <p>To around far been four there the grammar. Could of and his that which
                                            luxury. Shreds brought school. Actual such given way right, one not allow
                                            due dressing is as its and just the vices made where the cache. With
                                            acknowledge an me from and times, my on be the.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">How to withdraw money?</h3>
                                                <p>To around far been four there the grammar. Could of and his that
                                                    which luxury. Shreds brought school. Actual such given way right,
                                                    one not allow due is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">Can i cancel my deposit?</h3>
                                                <p>To around far been four there the grammar. Could of and his that
                                                    which luxury. Shreds brought school. Actual such given way right,
                                                    one not allow due is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="faq-submit-form">
                                        <div class="form-header">
                                            <h3 class="title">Submit A Question</h3>
                                            <p>We’ll answer it ASAP by mailing.</p>
                                        </div>
                                        <form>
                                            <input type="email" placeholder="Your mail address here">
                                            <textarea placeholder="Write your question here..."></textarea>
                                            <button class="btn-pok btn-pok-sm" type="submit">Submit <i
                                                    class="fa-solid fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="row custom-gutter">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What is SmartestLotto?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i invest?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i deposit in?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How to withdraw money?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">Can i cancel my deposit?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What’s the exact ROI?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-12">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What payment method does SmartestLotto support?</h3>
                                        <p>To around far been four there the grammar. Could of and his that which
                                            luxury. Shreds brought school. Actual such given way right, one not allow
                                            due dressing is as its and just the vices made where the cache. With
                                            acknowledge an me from and times, my on be the.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">How to withdraw money?</h3>
                                                <p>To around far been four there the grammar. Could of and his that
                                                    which luxury. Shreds brought school. Actual such given way right,
                                                    one not allow due is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">Can i cancel my deposit?</h3>
                                                <p>To around far been four there the grammar. Could of and his that
                                                    which luxury. Shreds brought school. Actual such given way right,
                                                    one not allow due is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="faq-submit-form">
                                        <div class="form-header">
                                            <h3 class="title">Submit A Question</h3>
                                            <p>We’ll answer it ASAP by mailing.</p>
                                        </div>
                                        <form>
                                            <input type="email" placeholder="Your mail address here">
                                            <textarea placeholder="Write your question here..."></textarea>
                                            <button class="btn-pok btn-pok-sm" type="submit">Submit <i
                                                    class="fa-solid fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="row custom-gutter">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What is SmartestLotto?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i invest?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i deposit in?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How to withdraw money?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">Can i cancel my deposit?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What’s the exact ROI?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies
                                            one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-12">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What payment method does SmartestLotto support?</h3>
                                        <p>To around far been four there the grammar. Could of and his that which
                                            luxury. Shreds brought school. Actual such given way right, one not allow
                                            due dressing is as its and just the vices made where the cache. With
                                            acknowledge an me from and times, my on be the.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">How to withdraw money?</h3>
                                                <p>To around far been four there the grammar. Could of and his that
                                                    which luxury. Shreds brought school. Actual such given way right,
                                                    one not allow due is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">Can i cancel my deposit?</h3>
                                                <p>To around far been four there the grammar. Could of and his that
                                                    which luxury. Shreds brought school. Actual such given way right,
                                                    one not allow due is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="faq-submit-form">
                                        <div class="form-header">
                                            <h3 class="title">Submit A Question</h3>
                                            <p>We’ll answer it ASAP by mailing.</p>
                                        </div>
                                        <form>
                                            <input type="email" placeholder="Your mail address here">
                                            <textarea placeholder="Write your question here..."></textarea>
                                            <button class="btn-pok btn-pok-sm" type="submit">Submit <i
                                                    class="fa-solid fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq end -->

<!-- footer begin -->
<app-footer></app-footer>
<!-- footer end -->
</div>