<div class="front">
<!-- header begin -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                        <div class="logo">
                            <a>
                                <img src="../../../assets/img/sl_darkBG.png" alt="LOGO" style="width: 200px; height: 40px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 d-xl-none d-lg-none d-flex justify-content-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <app-navigation></app-navigation>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-none align-items-center justify-content-end">
                <app-connexion></app-connexion>
            </div>
        </div>
    </div>
</div>
<!-- header end -->

<!-- breadcrumb begin  -->
<div class="breadcrumb-pok" style="padding-top: 90px">
    <img class="br-shape-left" src="assets/img/breadcrumb/left-bg.png" alt="">
    <img class="br-shape-right" src="assets/img/breadcrumb/right-bg.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-6">
                <div class="breadcrumb-content">
                    <span class="subtitle">contact us</span>
                    <h2 class="title">Get in touch by simply dropping a message</h2>
                    <div class="page-links">
                        <ul>
                            <li>
                                <a>Home</a>
                            </li>
                            <li>
                                <span class="current-page">Contact Us</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end  -->

<!-- contact begin -->
<app-contact-form></app-contact-form>
<!-- contact end -->

<!-- newsletter begin -->
<app-subscription></app-subscription>
<!-- newsletter end -->

<!-- footer begin -->
<app-footer></app-footer>
<!-- footer end -->
</div>