
        <!-- preloader begin -->
        <div class="preloader">
            <div class="loader"><div></div><div></div><div></div><div></div></div>
        </div>
        <!-- preloader end -->
        
        <!-- header begin -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="../../../assets/img/sl_darkBG.png" alt="LOGO" style="width: 200px; height: 40px;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 d-xl-none d-lg-none d-flex justify-content-end">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa-solid fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <app-navigation></app-navigation>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-none align-items-center justify-content-end">
                        <app-connexion></app-connexion>
                    </div>
                </div>
            </div>
        </div>
        <!-- header end -->

        <!-- breadcrumb begin  -->
        <div class="breadcrumb-pok">
            <img class="br-shape-left" src="assets/img/breadcrumb/left-bg.png" alt="">
            <img class="br-shape-right" src="assets/img/breadcrumb/right-bg.png" alt="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="breadcrumb-content">
                            <span class="subtitle">Error 404</span>
                            <h2 class="title">This page is broken, keep going...</h2>
                            <div class="page-links">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <span class="current-page">Error 404</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end  -->

        <!-- error begin -->
        <div class="error">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10">
                        <div class="part-img">
                            <img src="assets/img/error/error-image.png" alt="">
                        </div>
                        <div class="part-text">
                            <div class="section-title">
                                <h3 class="sub-title">Error 404</h3>
                                <h2 class="title">The page you’re looking
                                    for is now beyond our reach.</h2>
                            </div>
                            <p>Let’s get you back in home at <span class="back-time">00:00:05</span> or browse instead <i class="fa-solid fa-arrow-turn-down"></i></p>
                            <div class="error-page-menu">
                                <ul>
                                    <li>
                                        <a href="index.html" class="single-menu">homepage</a>
                                    </li>
                                    <li>
                                        <a href="about.html" class="single-menu">About Us</a>
                                    </li>
                                    <li>
                                        <a href="lotteries.html" class="single-menu">Lotteries</a>
                                    </li>
                                    <li>
                                        <a href="blog-posts.html" class="single-menu">Blog</a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="single-menu">contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- error end -->

        <!-- footer begin -->
        <app-footer></app-footer>
        <!-- footer end -->
